::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #141415;
}

::-webkit-scrollbar-thumb {
  background: #633baedb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #805ebe;
}
